/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Inter";
  src: local("inter"), url(./assets/fonts/inter/static/Inter-Bold.ttf) format("truetype");
}

body {

  margin: 0;

}
